
services:

  redis:
    image: redis:7
    container_name: redis
    restart: unless-stopped
    volumes:
      - redis-data:/data

  rspamd:
    image: rspamd/rspamd:3.14
    container_name: rspamd
    depends_on:
      - redis
    restart: unless-stopped
    ports:
      - "127.0.0.1:11334:11334"   # Web UI
      - "127.0.0.1:11332:11332"   # Milter
      - "127.0.0.1:11333:11333"   # Controller API
    volumes:
      - /usr/share/zoneinfo/America/Vancouver:/etc/localtime:ro
      - ./rspamd:/etc/rspamd
      - rspamd-data:/var/lib/rspamd

volumes:
  redis-data:
  rspamd-data:

